<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete the user</title>
</head>
<body>
   <h1>This is the user u can delete <%= user.email%></h1> 
   <form  method="post" action="/user/<%= user.id %>/?_method=DELETE" >
   <input type="password" name="password" placeholder="Enter password">
   <button>DELETE</button>
   </form>
</body>
</html>