<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show no. of users </title>
</head>
<body>
    <h1>THIS IS YOUR NO> OF USERS : <%= count  %></h1>
    <form action="/user"> 
        <button>See all the data of users </button>
    </form>
</body>
</html>